body{
	margin-top: -10px;
	text-align: left;
	font-size: 12pt;
	font-family: sans-serif;
}

nav {
	background: #322653;
	margin-left: -10px;
	margin-right: -10px;
}

ul{
	list-style-type: none;
	margin-left: 43em;
	column-width: 40px;
	height: 40px;
	padding-top: 23px;
	text-align: center;	
}

footer{
	position: absolute;
	top: 310px;
	padding-top: 5em;
	padding-bottom: 5em;
    background: #322653;
	width: 20in;
	margin-left: -150px;
	margin-top: 625px;
	text-align: center;
	color: #FFF;
}

h2{
	text-align: center;
	color: #139F7A;
}

h3{
	text-align: center;
	color: #139F7A;
}

h4{
	margin-top: 15px;
}

.studio{
	float: left;
	width: 50%;
	height: auto;
	margin-left: 100px;
	margin-top: 50px;
}

.photographers{
	float: right;
	margin-right: 60px;
	margin-top: 40px;
	width: 15%;
	height: 570px;
	border: 3px solid #000;
	text-align: center;
}

.webtitle{
	text-align: center;
	color: #069283;
	font-size: 20px;
}

.studioimg{
	margin-left: 80px;
}